.nav-menu-item-2 {
	font-size: var(--menuItemFontSize2);
	letter-spacing: var(--menuItemLetterSpacing);
	font-weight: 100;
}

.home-nav-menu-wrapper {
	display: flex;
	justify-content: space-between;
	padding-right: 1rem;
	padding-top: 1rem;
}

.main-item {
	font-size: 55px;
	font-weight: 100;
	letter-spacing: -3px;
}

.uppercase {
	text-transform: uppercase;
}

.projects-description,
.sub-projects-description {
	position: absolute;
	bottom: -50px;
	right: 15px;
	font-size: 9px;
	letter-spacing: 1.5px;
	max-width: 120px;
	line-height: 1.5;
	font-weight: 100;
	opacity: 0.3;
}

.sub-projects-description {
	bottom: -40px;
	right: 10px;
}

.sub-projects-nav-item {
	font-weight: 100;
	font-size: 12px;
}

.sub-projects-nav-wrapper {
	display: flex;
	flex-direction: column;
	gap: 0.3rem;
}
