@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

*, *::before, *::after {
    font-family: 'Open Sans', sans-serif;
}

:root {
    --light: #E2D5CB;
    --dark: #312221;
    --textShadow: #AB947E;
    --extraBold: 900;
    --bold: 700;
    --regular: 500;
    --fontExtraLarge: 2.9rem;
    --fontMediumLarge: 2.4rem;
    --fontLarge: 1.4rem;
    --fontRegular: 1rem;
    --fontSmall: 0.85rem;
    --fontExtraSmall: 0.75rem;
    --leftMainPadding: 1rem;
    --lineHeight: 2;
    --famOne: 'Open Sans', sans-serif;
    --famTwo: 'Montserrat', sans-serif;
    --arrowPadding: 1rem;
    --aboutLinkPadding: 2.5rem;
}

button {
    text-transform: uppercase;
    padding: 0.2rem 0.85em;
    background: none;
    border-radius: none;
    border: none;
    outline: none;
    font-size: var(--fontLarge);
    font-weight: var(--regular);
    text-decoration: underline;
    text-decoration-thickness: 1px;
    font-family: var(--famTwo);
}

.btn-dark {
    background-color: var(--dark);
    color: var(--light);
    position: relative;
}

.btn-dark::after {
    position: absolute;
    font-family: var(--famTwo);
    content: '←';
    color: var(--dark);
    right: -25px;
}

.btn-light {
    background-color: var(--light);
    color: var(--dark);
    position: relative;
}

.btn-light::after {
    position: absolute;
    content: '←';
    color: var(--light);
    right: -25px;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

h2 {
    text-transform: uppercase;
}

@media (min-width: 570px) {
    :root {
        --fontExtraLarge: 3.9rem;
        --fontMediumLarge: 2.9rem;
        --fontLarge: 2rem;
        --fontRegular: 1.3rem;
        --fontSmall: 1rem;
        --fontExtraSmall: 0.85rem;
        --leftMainPadding: 2rem;
        --lineHeight: 2;
        --arrowPadding: 2rem;
        --aboutLinkPadding: 4rem;
    }

    .btn-dark::after,
    .btn-light::after {
        right: -35px;
        bottom: 5px;
    }
}