@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

*, *::before, *::after {
    font-family: 'Open Sans', sans-serif;
}

:root {
    --light: #c3a995;
    --dark: #593d3b;
    --textShadow: #AB947E;
    --extraBold: 900;
    --bold: 700;
    --regular: 400;
    --fontExtraLarge: 3.2rem;
    --fontMediumLarge: 2.8rem;
    --fontLarge: 1.4rem;
    --fontRegular: 1rem;
    --fontSmall: 0.85rem;
    --fontExtraSmall: 0.75rem;
    --leftMainPadding: 1rem;
}

button {
    text-transform: uppercase;
    padding: 0.2rem 0.85em;
    background: none;
    border-radius: none;
    border: none;
    outline: none;
    font-size: var(--fontLarge);
    font-weight: var(--regular);
    text-decoration: underline;
    text-decoration-thickness: 1px;
}

.btn-dark {
    background-color: var(--dark);
    color: var(--light);
    position: relative;
}

.btn-dark::after {
    position: absolute;
    content: '←';
    color: var(--dark);
    right: -25px;
}

.btn-light {
    background-color: var(--light);
    color: var(--light);
    position: relative;
}

.btn-light::after {
    position: absolute;
    content: '←';
    color: var(--light);
    right: -25px;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}