#about{
    position: relative;
    background-color: var(--dark);
    color: var(--light);
}

.about-line {
    margin-top: 2rem;
    position: absolute;
    height: 1px;
    width: 55%;
    background-color: var(--light);
}

.about-title {
    display: flex;
    flex-direction: column;
    gap: 0;
    padding-top: 6rem;
    padding-left: var(--leftMainPadding);
}

.about-name h1{
    line-height: 1.1;
    font-size: var(--fontExtraLarge);
    font-weight: var(--extraBold);
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}

.about-subtitle h2 {
    font-size: var(--fontLarge);
    font-weight: var(--regular);
    opacity: 0.75;
}

.about-photo {
    padding-left: var(--leftMainPadding);
    padding-top: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.photo-container img {
    width: 50%;
}

.photo-icons {
    display: flex;
    /* justify-content: center; */
    gap: 0.8rem;
    padding: 0;
}

.about-desc {
    position: relative;
}

.about-desc h2 {
    padding-top: 8rem;
    padding-left: var(--leftMainPadding);
    font-family: var(--famTwo);
    font-size: var(--fontLarge);
    position: relative;
    display: flex;
    align-items: center;
}

.about-desc p {
    padding-top: 0.5rem;
    padding-left: var(--leftMainPadding);
    line-height: var(--lineHeight);
    padding-right: 1rem;
    font-size: var(--fontRegular);
    opacity: 0.75;
}

.about-desc a {
    position: relative;
    margin-top: 0.5rem;
    display: block;
    color: var(--light);
    text-transform: uppercase;
    font-weight: var(--bold);
    text-decoration: underline;
    padding-left: var(--aboutLinkPadding);
    font-size: var(--fontRegular);
}

.about-desc a::before {
    position: absolute;
    content: '→';
    left: var(--arrowPadding);
}

.about-desc:last-child {
    padding-bottom: 6rem;
}

.about-desc-line {
    width: 50%;
    height: 1px;
    background-color: var(--light);
    margin-top: 4rem;
    position: absolute;
    left: 0;
}

.about-desc-line.last {
    background: none;
    border-top: 1px solid var(--light);
}

.about-desc-xl {
    display: none;
}

.about-desc-line-xl {
    display: none;
}

@media (min-width: 760px) {
    .about-line {
        margin-top: 6rem;
    }

    .about-title {
        padding-top: 12rem;
    }

    .about-name h1 {
        line-height: 1;
    }
    
    .about-subtitle {
        margin-top: -1rem;
    }

    .about-photo {
        width: fit-content;
    }

    .photo-container img {
        width: 360px;
    }

    .photo-icons {
        padding-top: 1rem;
        justify-content: space-between;
    }

    .photo-icons img {
        width: 50px;
    }

    .about-desc h2 {
        padding-top: 10rem;
    }

    .about-desc-1 h2::after {
        content: '';
        position: absolute;
        width: 55%;
        height: 1px;
        background-color: var(--light);
        right: 0;
    }

    .about-desc-2 .about-desc-line {
        left: auto;
        right: 0;
    }

    .about-desc-4 a {
        display: flex;
        align-items: center;
        position: relative;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    
    .about-desc-4 a::after {
        content: '';
        position: absolute;
        width: 50%;
        right: 0;
        background-color: var(--light);
        height: 1px;
    }

    .about-desc:last-child {
        padding-bottom: 10rem;
    }

    .about-desc-line {
        width: 70%;
    }
}

@media (min-width: 990px) {

    #about > * {
        padding-left: var(--leftLgPadding);
        padding-right: var(--rightLgPadding);
    }

    .about-desc-1.about-desc {
        padding-right: 0 !important;
    }

    .about-desc-1 p {
        padding-right: var(--rightLgPadding);
    }

    .about-desc-1 h2::after {
        content: '';
        position: absolute;
        width: 55%;
        height: 1px;
        background-color: var(--light);
        right: 0;
    }

    .about-desc > h2 {
        padding-left: 0;
    }

    .about-desc > p {
        padding-left: 0;
    }

    .about-desc > a {
        padding-left: 3rem;
    }

    .about-desc a::before {
        left: 0;
    }

    .about-desc-4>a::after {
        display: none;
    }
    
}

@media (min-width: 1200px) {
    .about-desc-sm {display: none;}

    .about-title {
        padding-top: 20rem;
        padding-bottom: 15rem;
    }
    
    .about-xl {
        display: flex;
        padding-right: 0 !important;
        padding-bottom: 10rem;
        gap: 3rem;
    }

    .about-photo {
        flex-shrink: 0;
        padding: 0;
    }

    .about-desc-xl {
        display: block;
        padding: 0 !important;
    }

    .about-desc-xl > * {
        padding: 0 !important;
    }

    .about-desc-xl p {
        padding: 2rem !important;
        padding-right: 10rem !important;
        padding-left: 0 !important;
    }

    .about-desc-xl a {
        padding-left: 3rem !important;
    }

    .about-desc-line-xl {
        display: block;
        margin-top: 10rem !important;
    }

    .about-desc {
        padding-top: 20rem;
    }

    .about-desc > p {
        width: 650px;
    }

    .about-desc-1 > p {
        width: auto;
    }

    .about-desc-line {
        margin-top: 15rem;
    }

    .about-story {
        padding-top: 0 !important;
    }

    .about-desc-4 {
        padding-bottom: 20rem !important;
    }


    .about-desc-line.last {
        margin: 0;
        margin-top: 10rem;
    }
}