#tech-stack {
    background-color: var(--light);
    color: var(--dark);
}

.tech-stack-line {
    height: 1px;
    border-bottom: 1px solid var(--dark);
    width: 50%;
    padding-top: 5rem;
}

.tech-stack-title h1 {
    font-size: var(--fontMediumLarge);
    font-family: var(--famTwo);
    padding-top: 3rem;
    padding-left: var(--leftMainPadding);
    text-transform: uppercase;
}

.tech-stack-section {
    padding-top: 4rem;
}

.tech-stack-section > div:first-child h1 {
    text-transform: uppercase;
    font-size: var(--fontLarge);
    padding-left: var(--leftMainPadding);
    position: relative;
    display: flex;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

.tech-stack-section>div:first-child h1::after {
    position: absolute;
    content: '';
    height: 1px;
    background-color: var(--dark);
    width: 44%;
    right: 0;
}

.tech-stack-section > p {
    padding-left: var(--leftMainPadding);
    font-size: var(--fontRegular);
    line-height: var(--lineHeight);
    padding-top: 0.5rem;
}

.tech-stack-icons {
    padding-top: 0.5rem;
    padding-left: var(--leftMainPadding);
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
}

.icons {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.icon-set {
    display: flex;
    gap: 0.5rem;
}

.icon-set > p {
    text-transform: uppercase;
    font-family: var(--famTwo);
    font-size: var(--fontRegular);
    font-weight: var(--extraBold);
}

.tech-stack-cta {
    padding-left: var(--leftMainPadding);
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.tech-stack-line:last-child {
    border: none;
    border-top: 1px solid var(--dark);
    margin-top: 3rem;
}