#process {
	background-color: var(--dark);
	color: var(--light);
}

.process-line {
	height: 1px;
	border-bottom: 1px solid var(--light);
	width: 50%;
	padding-top: 4rem;
	margin-bottom: 3rem;
}

.process-title h1 {
	font-size: var(--fontExtraLarge);
	font-family: "Montserrat", sans-serif;
	padding-left: var(--leftMainPadding);
	text-transform: uppercase;
	padding-bottom: 2rem;
}

.process-list {
	padding: 0;
	padding-top: 4rem;
	padding-left: var(--leftMainPadding);
	padding-right: 1rem;
	display: flex;
	flex-direction: column;
	gap: 8rem;
}

.process-list li {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.process-list h2 {
	font-size: var(--fontLarge);
	font-weight: var(--extraBold);
}

.process-list p {
	line-height: var(--lineHeight);
	font-size: var(--fontRegular);
}

.process-cta {
	margin-left: var(--leftMainPadding);
	margin-top: 3rem;
	margin-bottom: 3rem;
}

.process-line-bottom {
	width: 50%;
	height: 1px;
	border-top: 1px solid var(--light);
	padding-top: 3rem;
}

@media (min-width: 760px) {
	.process-list {
		padding-top: 4rem;
		gap: 10rem;
	}
	.process-img-container img {
		width: 500px;
	}

	.process-cta {
		margin-bottom: 6rem;
	}

	.process-line-bottom {
		padding-top: 10rem;
	}
}

@media (min-width: 990px) {
	#process > * {
		padding-left: var(--leftLgPadding);
	}

	.process-title h1 {
		padding-left: 0;
	}

	.process-cta {
		margin-left: 0;
	}

	.process-list p {
		padding-right: var(--rightLgPadding);
	}
}

@media (min-width: 1200px) {
	.process-line {
		padding-top: 12rem;
	}

	.process-title {
		padding-top: 6rem;
		padding-bottom: 6rem;
	}

	.process-list {
		gap: 24rem;
	}

	.process-list p {
		width: 700px;
	}

	.process-list li:last-child {
		padding-bottom: 6rem;
	}

	#process > a {
		display: block;
		padding-bottom: 0;
		margin-bottom: 8rem;
	}

	.process-line-bottom {
		padding-top: 14rem;
	}
}

@media (min-width: 1400px) {
	.process-title,
	.process-list,
	#process > a {
		padding-left: 17rem !important;
	}
}

@media (min-width: 1800px) {
	.process-title,
	.process-list,
	#process > a {
		padding-left: 22rem !important;
	}

	.process-list li {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
	}

	.process-list li:nth-child(even) {
		justify-content: start;
		gap: 0;
	}

	.process-list li:nth-child(even) > p {
		padding-right: 0 !important;
		flex-basis: 40%;
	}

	.process-list li h2 {
		flex-basis: 100%;
	}

	.process-img-container {
		flex-basis: 50%;
	}

	.process-img-container img {
		width: auto;
	}

	.process-list li:nth-child(even) .process-img-container {
		order: 1;
	}

}
