#projects {
    background-color: var(--light);
    color: var(--dark);
}

.projects-line {
    width: 50%;
    height: 1px;
    border-bottom: 1px solid var(--dark);
    padding-top: 3rem;
    margin-bottom: 3rem;
}

.projects-title h1 {
    font-size: var(--fontExtraLarge);
    font-family: var(--famTwo);
    padding-left: var(--leftMainPadding);
    text-transform: uppercase;
    padding-bottom: 6rem;
}

.projects {
    padding-left: var(--leftMainPadding);
    display: flex;
    flex-direction: column;    
    gap: 8rem;
}

.project {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.project-tablet {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
}

.project h2 {
    font-size: var(--fontLarge);
    font-family: var(--famTwo);
    position: relative;
    display: flex;
    align-items: center;
}

.project h2::after {
    position: absolute;
    content: '';
    height: 1px;
    width: 30%;
    background-color: var(--dark);
    right: 0;
}

.project-img-container {
    padding-right: var(--leftMainPadding);
}

.project-img-container img {
    width: 100%;
}

.project-details, .project-details-list {
    line-height: var(--lineHeight);
    padding-right: var(--leftMainPadding);
}

.project-details p {
    font-size: var(--fontRegular);
}

.project-details-list {
    padding: var(--leftMainPadding);
    padding-top: 0;
}

.project-details-list li {
    position: relative;
    font-size: var(--fontRegular);
}

.project-details-list li::before {
    position: absolute;
    content: '•';
    left: -15px;
}

@media (min-width: 760px) {
    .projects-title h1 {
        padding-bottom: 6rem;
    }

    .projects {
        gap: 10rem;
    }

    .project-tablet {
        display: flex;
        flex-direction: row;
        padding-top: 3rem;
        align-items: center;
    }

    .project-img-container {
        width: 350px;
        flex-shrink: 0;
    }

    .project-details-list {
        padding-top: 2rem;
    }

    .project:last-child {
        padding-bottom: 4rem;
    }

    .project-line-bot {
        padding-top: 4rem;
        padding-bottom: 10rem;
    }

    .project-line {
        width: 55%;
        height: 1px;
        background-color: var(--dark);
    }
}

@media (min-width: 990px) {
    #projects > * {
        padding-left: var(--leftLgPadding);
    }

    #projects h1 {
        padding-left: 0;
    }

    #projects > .project-line-bot {
        padding-left: 0;
    }
}

@media (min-width: 1200px) {
    .projects-line {
        padding-top: 12rem;
        margin-bottom: 8rem;
    }

    .projects {
        padding-top: 10rem;
        gap: 24rem;
    }

    .project-details {
        width: 450px;
    }

    .project-line-bot {
        padding-top: 8rem;
        padding-bottom: 14rem;
    }
}