#contact {
	background-color: var(--dark);
	color: var(--light);
	position: relative;
}

.contact-line {
	padding-top: 3rem;
	padding-bottom: 3rem;
}

.contact-line-shape {
	width: 50%;
	height: 1px;
	background-color: var(--light);
}

.contact-title h1 {
	font-size: var(--fontExtraLarge);
	font-family: var(--famTwo);
	padding-left: var(--leftMainPadding);
	text-transform: uppercase;
	padding-bottom: 2rem;
}

.contact-icon {
	padding-left: var(--leftMainPadding);
	position: relative;
	display: flex;
	align-items: center;
	padding-bottom: 1rem;
}

.contact-icon::after {
	position: absolute;
	content: "";
	width: 60%;
	height: 1px;
	right: 0;
	background-color: var(--light);
}

#contact p {
	padding-left: var(--leftMainPadding);
	padding-right: 1rem;
	padding-bottom: 8rem;
	line-height: var(--lineHeight);
	font-size: var(--fontRegular);
}

.contact-cta-box {
	position: absolute;
	bottom: -27px;
	display: flex;
	justify-content: center;
	width: 100%;
}

.contact-cta-container {
	background-color: var(--light);
	border: 1px solid var(--dark);
	padding: 1rem;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.contact-cta a,
.contact-cta button {
	font-size: var(--fontRegular);
	color: var(--light);
}

.contact-cta {
	background-color: var(--dark);
	padding: 0.3rem;
}

@media (min-width: 570px) {
	.contact-icon img {
		width: 150px;
	}
}

@media (min-width: 760px) {
	.contact-title h1 {
		padding-top: 4rem;
		padding-bottom: 4rem;
	}

	.contact-tablet {
		display: flex;
		align-items: center;
		gap: 1rem;
		padding-right: 1rem;
		padding-bottom: 12rem;
	}

	.contact-icon {
		flex-shrink: 0;
	}

	.contact-icon img {
		width: 250px;
	}

	.contact-icon::after {
		display: none;
	}

	#contact .contact-tablet p {
		padding: 0;
	}

	.contact-cta-box {
		bottom: -70px;
	}

	.contact-cta-container {
		padding: 2rem;
		gap: 2rem;
	}
}

@media (min-width: 990px) {
	.contact-line {
		padding-top: 12rem;
		padding-bottom: 6rem;
	}
	.contact-title h1 {
		padding-left: var(--leftLgPadding);
	}

	.contact-icon {
		padding-left: var(--leftLgPadding);
	}

	.contact-tablet {
		padding-right: var(--rightLgPadding);
	}
}

@media (min-width: 1200px) {
	.contact-tablet {
		gap: 3rem;
	}

	.contact-tablet > p {
		width: 450px;
	}

	.contact-cta-box {
		left: -200px;
	}
}
