#footer {
    background-color: var(--light);
    padding-top: 4rem;
    display: flex;
    flex-wrap: wrap;
    color: var(--dark);
    gap: 2rem;

}

.footer-menu {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-left: var(--leftMainPadding);
}

.footer-menu h3{
    color: var(--dark);
    text-transform: uppercase;
    font-size: var(--fontRegular);
    font-weight: var(--extraBold);
}

.footer-menu ul {
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}

.footer-menu ul li, .footer-menu p, .footer-menu a {
    font-size: var(--fontRegular);
    color: var(--dark);
}

.copyright {
    background-color: var(--dark);
    color: var(--light);
    width: 100%;
    display: flex;
    padding: var(--leftMainPadding);
    gap: 1rem;
    margin-top: 5rem;
}

.copyright * {
    font-size: var(--fontSmall);
}

.copyright a {
    color: var(--light);
    text-decoration: underline;
}

.footer-tablet {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-right: 1rem;
    padding-bottom: 4rem;
}

@media (min-width: 760px) {
    #footer {
        padding-top: 10rem;
        gap: 0;
        justify-content: space-between;
    }
}

@media (min-width: 990px) {
    #footer > .footer-socials {
        padding-left: var(--leftLgPadding);
    }

    .footer-tablet {
        padding-right: var(--rightLgPadding);
    }

    .footer-menu.footer-socials {
        padding-left: 0;
    }

    .copyright {
        padding-left: var(--leftLgPadding);
    }
}