.navbar_btn {
	position: fixed;
	width: 4rem;
	height: 4rem;
	padding: 0;
	border-radius: 50%;
	background-color: rgba(0, 0, 0, 0.75);
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	bottom: 15px;
	right: 15px;
	text-decoration: none;
	font-weight: 300;
	cursor: pointer;
}

.navbar_btn_shapes {
	position: absolute;
	width: 40%;
	height: 2px;
	background-color: var(--light);
}

.navbar_btn_shapes::before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin-top: -10px;
	width: 100%;
	height: 2px;
	background-color: var(--light);
}

.navbar_btn_shapes::after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin-top: 10px;
	width: 100%;
	height: 2px;
	background-color: var(--light);
}

.navbar.collapsed {
	position: fixed;
	margin-left: auto;
	height: 100vh;
	width: 100%;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: var(--dark);
	display: flex;
	align-items: center;
	justify-content: center;
	display: auto;
}

.navbar:not(.collapsed) {
	width: 0;
	display: none;
}

.navbar_menu {
	display: flex;
	flex-direction: column;
	gap: 3rem;
	width: fit-content;
}

.navbar_menu a {
	color: var(--light);
	font-size: 2.5rem;
	display: block;
	display: flex;
	justify-content: center;
}

.close_btn {
	position: absolute;
	bottom: 25px;
	right: 25px;
	color: var(--light);
	opacity: 0.5;
	font-size: 1.3rem;
	font-weight: 100;
	cursor: pointer;
}

@media (min-width: 1000px) {
	.close_btn {
		right: 75px;
		bottom: 75px;
	}

	.navbar_btn {
		right: 50px;
		bottom: 50px;
		width: 6rem;
		height: 6rem;
	}

	.navbar_btn_shapes {
		height: 4px;
		width: 50%;
	}
	.navbar_btn_shapes::before {
		height: 4px;
		margin-top: 13px;
	}
	.navbar_btn_shapes::after {
		height: 4px;
		margin-top: -13px;
	}
}

@media (min-width: 1800px) {
	.close_btn {
		left: unset;
		right: 16%;
		bottom: 120px;
	}

	.navbar_btn {
		right: 15%;
		bottom: 80px;
		width: 6rem;
		height: 6rem;
	}

	.navbar_btn_shapes {
		height: 4px;
		width: 50%;
	}
	.navbar_btn_shapes::before {
		height: 4px;
		margin-top: 13px;
	}
	.navbar_btn_shapes::after {
		height: 4px;
		margin-top: -13px;
	}
}
