.home-headline-name {
  font-weight: 100;
  letter-spacing: 5px;
  opacity: 0.3;
}

.home-headline-title {
  font-weight: 100;
  text-transform: uppercase;
}

.home-headline-description {
  font-weight: 100;
  letter-spacing: 1.5px;
  opacity: 0.3;
  max-width: 300px;
  line-height: 1.5
}

@media (min-width: 1200px) {
  .home-headline-name {
    font-size: 18px;
  }

  .home-headline-title {
    font-size: 46px;
  }
}

