.about-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-top: 5rem;
  align-self: start;
}

.about-description {
  font-weight: 100;
  letter-spacing: 1.5px;
  line-height: 1.4;
  font-size: 1rem;
  max-width: 350px;
}