.app-nav-menu-wrapper {
	display: flex;
	justify-content: space-between;
	padding-right: 1rem;
	padding-top: 1rem;
	position: relative;
}

.app-nav-fade-in {
	animation: app-nav-fade-in 1s forwards;
}

@keyframes app-nav-fade-in {
	0% {
		opacity: 0;
		top: -25px;
	}
	100% {
		opacity: 1;
		top: 0;
	}
}

.app-nav-fade {
	animation: app-nav-fade 3s forwards;
}

@keyframes app-nav-fade {
	0% {
		opacity: 1;
		top: 0;
	}

	33% {
		opacity: 0;
		top: -25px;
	}

	66% {
		opacity: 0;
		top: -25px;
	}

	100% {
		opacity: 1;
		top: 0;
	}
}

.app-nav-menu-item-2 {
	font-size: var(--menuItemFontSize2);
	letter-spacing: var(--menuItemLetterSpacing);
	font-weight: 100;
	position: relative;
	padding-bottom: 0.2rem;
}

.app-nav-menu-item-2::before {
	content: "";
	position: absolute;
	top: 0;
	right: 100%;
	bottom: -5px;
	left: 0;
	border-bottom: 1px solid var(--light);
	cursor: pointer;
	z-index: -1;
	transition: right 0.3s;
}

.app-nav-menu-item-2:hover::before {
	right: 0;
}

@media (min-width: 1200px) {
	.app-nav-menu-item-2 {
		font-size: 12px;
	}
}
